body,
html {
  padding: 0px;
  margin: 0px;

  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
}
#container {
  display: flex;
  flex: 1;
  overflow: hidden;
}
#my-navbar {
  /* min-height: 50px; */
  /* padding: 0.1rem; */
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}
.search-bar {
  background-color: #4b4949;
  display: flex;
  align-items: center;
}
#search-input {
  height: 30px;
  background-color: #121212;
  border: none;
  padding: 0.2rem;
  width: 25vw;
  color: white;
}
#search-input:focus{
    outline: none;
}
.search-btn {
  background-color: #4b4949;
  color: white;
  border: none;
}
.nav-right-menu-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16vw;
}
.nav-right-menu {
  /* height: 31px; */
  width: 31px;
  text-align: center;
  padding: 0.4rem;
}
.side-bar-top-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* height: 20vh; */
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgb(87, 85, 85);
}
.side-bar-img {
  margin-right: 0.6rem;
}
.side-bar-menu {
  display: flex;
  align-items: center;
  padding: 10px;
}
.side-bar-middle1-menu {
  padding-top: 0.8rem;
  border-bottom: 1px solid rgb(87, 85, 85);
  padding-bottom: 0.8rem;
}
.side-bar-menu:hover {
  background-color: #303030;
}
.nav-right-menu:hover {
  background-color: black;
}
.left-container {
  min-width: 200px;
  background: #212121;
  overflow-y: scroll;
  padding-right: 1rem;
}
.right-container {
 width: calc(100%-200px);
  overflow-y: scroll;
  background: rgb(6, 4, 4);
}
.subscriptions{
    padding-left: 1rem;
    color: #AAAAAA;
}
#top-menu-all {
  background: #212121;
  padding: 0.6rem;
  border-top: 1px solid rgb(87, 85, 85);
  overflow-x: scroll !important;
  position: sticky;
  top: 0;

  display: flex;
}
.top-menu {
  padding: 5px 10px;
  width: fit-content;
  border-radius: 15px;
  color: white;
  background-color: #4b4949;
  border: 0.3px solid #303030;
  margin-left: 0.6rem;
}
.all {
  padding: 5px 10px;
  background-color: white;
  width: fit-content;
  border-radius: 15px;
  color: black;
}

.nav-left-menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-btn{
  margin-right: 1rem;
  cursor: pointer;
  color: aliceblue;
}

.video-container{
  padding-top: 2rem;
  padding-inline: 2rem;
display: grid;
grid-template-columns: repeat(3,33.33%);
grid-gap: 20px 5px;

}
.video{
  min-height:250px;
  height: auto;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 1rem;
  padding: 0.2rem;
  /* overflow: hidden; */
}
.thumbnail{
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 1rem;
}
.content{
  width: 100%;
  height: 100px;
  /* padding: 10px; */
  display: flex;
  /* justify-content: space-between; */
}
.channel-icon{
  width: 40px ;
  height: 40px ;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.info{
  min-width:calc(100%-40px) ;
}
.title{
  min-width: 100%;
 margin: 0;
 overflow: hidden;
}
.channel-name{
  font-size: 14px;
  margin: 2px 0;
  color: #979797;
}
.hide {
  display: none;
}
.search_video_container{
  padding-left:1rem;
  padding-top: 1rem;
}
.search_video{
display: flex;
margin-bottom: 1rem;
}
.search_thumbnail{
  width:40%;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem;
}
.search_content{
margin-left: 1rem;
}
.search_channel_icon{
  width: 40px ;
  height: 40px ;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.search_info{
display: flex;
}
.search_title{
font-size: 18px;
font-weight: 400;
}
.search_channel_name{
padding-left: 1rem;
font-size: 14px;
}